        body {
            background-color: antiquewhite;
            font-family: Arial, Helvetica, sans-serif;
        }

        h1 {
            background-color: aqua;
            color:blue;
        }

        h2 {
            background-color: rgb(255, 179, 179);
            color: red;
        }

        p {
            text-align: justify;
        }