@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
}

p, h1, h2 {
    padding-bottom: 10px;
    text-align: justify;
}

header, section.normal {
    padding: 20px;
}

section.flex-content {
    background-color: lightgray;
    padding: 20px;

    display: flex;
    flex-flow: column nowrap;
}

section > article {
    border: 2px dashed green;
}

article.text-media {
    display: flex;
}

article.media-text {
    display: flex;
}
