body {
    background-image: linear-gradient(to right, #77A612, #658C11, #445925);
}

main {
    background-color: #F2F2F2;
    width: 700px;
    padding: 10px;
    text-align: justify;
    border-radius: 5px;
    margin: auto;

}

h1 {
    font: italic bold 3em 'Times New Roman', Times, serif;
}

h2 {
    font: bold 2em Arial, Helvetica, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

