@charset "UTF-8";


 /* Declarações Gerias */
@media all {
    * {
        margin: 0;
        padding: 0;
    }

    html, body {
        width: 100vw;
        height: 100vh;
        background-color: #233eff;
    }

    h1 {
        color: white;
        text-shadow: 2px 2px 0px #1627a6;
        padding: 10px;
    }
}

/* Declarações Retrato */
@media screen and (orientation: portrait) {
    body {
        background: transparent url(../imagens/cev-portrait.jpg) no-repeat center bottom;
        background-size: contain;
    }
}

/* Declarções Paisagem */
@media screen and (orientation: landscape) {
    body {
        background: transparent url(../imagens/cev-landscape.jpg) no-repeat left bottom;
        background-size: contain;
    }
}