@charset "UTF-8";

/* Todas as demais mídias */

/* Typical Device Breakpoint */

@media print {


    * {
        font-family: 'Courier New', Courier, monospace;
    }

    main {
        width: 600px;
        border: 1px solid black;
        border-radius: 5px;
    }

    main h1 {
        text-shadow: none;
        color: black;
    }

    main::after {
        content: 'Essa impressão foi feita através do site www.cursoemvideo.com';
        font-size: 12px;
    }

    img#phone { display: none; }
    img#tablet { display: none; }
    img#print { display: block; }
    img#pc { display: none; }
    img#tv { display: none; }
}


@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background: transparent url(../imagens/back-tablet.jpg) no-repeat center center;
        background-size: cover;
    }

    img#phone { display: none; }
    img#tablet { display: block; }
    img#print { display: none; }
    img#pc { display: none; }
    img#tv { display: none; }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        background: url(../imagens/back-pc.jpg) no-repeat center center;
        background-size: cover;
    }

    img#phone { display: none; }
    img#tablet { display: none; }
    img#print { display: none; }
    img#pc { display: block; }
    img#tv { display: none; }
}

@media screen and (min-width: 1200px) {
    body  {
        background: url(../imagens/back-tv.jpg) no-repeat center center;
        background-size: cover;
    }

    img#phone { display: none; }
    img#tablet { display: none; }
    img#print { display: none; }
    img#pc { display: none; }
    img#tv { display: block; }
}

