@charset "UTF-8";


@media screen and (min-width: 768px) {

    span#menu {
        display: none;
    }

    menu#navegador {
        display: block;
    }

    menu > ul > li {
        display: inline-block;
        width: 90px;
    }

    main {
        width: 768px;
    }
}