@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body, html {
    background-color: rgb(219, 219, 219);
}

header{
    background-color: grey;
}

header > h1 {
    padding: 10px;
    text-align: center;
}

span#menu {
    display: block;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

span#menu:hover {
    background-color: rgb(156, 156, 156);
    color: black;
    cursor: pointer;
}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(61, 61, 61);
    color: white;
    border-top: 2px solid gray;
}

menu > ul > li > a:hover {
    background-color: rgb(156, 156, 156);
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 7px;
    margin-top: 10px;
}

article > h2 {
    padding-bottom: 20px;
}

article > p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;

}